* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content{
  width: 50%;
  margin: auto;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("images/desktop.png");
  padding: 40px;
  background-color: #e83b43;
  
  

}
.content .left{
  width: 100%;
 
  color: white;
  
}
  
.left .top h3{
  justify-content: center;
  font-size: 25px;
 font-weight: 600;
  padding: 10px;
  color: white;
}


.content .left p{
  font-size: 10px;
  justify-content: center;
  text-align: left;
  padding: 2em;
  
}

.content .right{
  width: 100%;
 
}

.right .top2 p{
  font-size: 10px;
  padding: 10px;
  background-color: #010151;
  color: white;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.right .formBox{
  width: 100%;
  padding: 20px;
  background-color: white;
  
  
}

.right .formBox .box{
  margin-bottom: 20px;
  
}
  .right .formBox .email{
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
  }


  .right .formBox button{
   font-size: 5px;
  width: 100%;
  background-color: green;
  color: white;
  padding: 5px;
  
  }

.right .formBox .p2 p{
   width: 100%;
  font-size: 8px;
  text-align: center;
  color: black;
}
.p span{
  font-size: 8px;
  
}
  .p2 span{
  font-size: 8px;
  color: red;
}




@media screen and (max-width: 1440px) {
  body{
    background-color: black;
    color: white;
    
 }
 .content{
   display: flex;
   flex-direction: horizontal;
 }

}

@media screen and (max-width: 675px){
  body{
    background-color: blue;
    color: white;
  }
 .content{
  width: 50%;
  margin: auto;
   display: flex;
   flex-direction: column;
 
 
 }

}


